div.colorLegend {
    display: grid;
    grid-template-columns: 15px auto;
    grid-gap: 5px;
    width: 100%;
    align-items: center;
}

div.colorPane {
    width: 15px;
    height: 15px;
}

div.legendDescription {
    vertical-align: middle;
    padding-top: 2px;
}