#control {
    background: white;
    position: absolute;
    width: 250pt;
    z-index: 1000;
    left: 20pt;
    top: 50pt;
    padding: 5pt 5pt;
}

div.dropdowns > * {
    margin-bottom: 10pt;
}

.accordion .accordionTitle {
    vertical-align: middle;
}

.accordion label {
    padding-left: 10pt;
}